@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241 245 249);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2em; 
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: semi-bold;
  font-size: 1.25em; 
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}